[Desktop Entry]
Version=1.0
Type=Application
Encoding=UTF-8
Name=pyTrainer sport training log
Comment=The Free Sport Training Center
Exec=pytrainer
Icon=pytrainer
Categories=Office;
