[Desktop Entry]
Version=1.10.0
Type=Application
Name=pytrainer
Comment=The Free Sport Training Center
Exec=pytrainer
Icon=pytrainer
Categories=Office;
